user      {{ nginx_user }};
worker_processes auto;
error_log {{ nginx_dir_log }}/error.log;
pid       {{ nginx_pid }};

events {
    worker_connections  1024;
}

rtmp {
    server {
        listen 1935;
        chunk_size 4096;

        # logging
        access_log {{ nginx_dir_log }}/rtmp_live_access.log;

        application live {
            # enable live streaming
            live on;

            # recording
            record video;
            record_path {{ nginx_dir_rec }};
            record_interval 1h;
            record_suffix -%F-%T.flv;

            # receive stream
            allow publish {{ cameras[0] }}; # authorize the Pi to push on /live
            deny publish all;               # prevent anyone else to push video

            # play stream
            allow play {{ cameras[0] }};    # authorize this computer to play on /live
            deny play all;                  # prevent anyone else to play video
        }
    }
}
